__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env
.vscode/

results_*/
sheets/
traducao_musical_p*.jpg
deteccao_tecnica_p*.jpg
detection_page_*.jpg
translated_page_*.jpg
vinicin.mp3
vinicin.mid
vinicin.mp4
temp_v.mp4
_pyclef_video_audio.mp3
start_button_frame_*.png

model/train*/
model/**/runs/
pyclef_app/model/*.pt
pyclef_app/model/*.zip
pyclef_app/model/*.rar

*.egg-info/
build/
dist/
